body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  margin-left: 20px;
}

h2 {
  margin: 0;
}

h3 {
  margin-left: 20px;
}
.layout {
  display: grid;
  grid-template-columns: 0.7fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  height: 100vh;
}
.top-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "search search search profile profile"
    "greating greating greating media media"
    "greating greating greating media media";
  grid-area: 1 / 2 / 2 / 6;
  background-color: rgb(241, 241, 241);
  padding: 5px;
}

.search {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  width: auto;
  grid-template-areas: "submit searchtxt";
  grid-area: search;
}

.button {
  grid-area: submit;
  justify-self: end;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 40px;
}

.button {
  background-color: rgba(128, 128, 128, 0);
  border-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  
}

.searchtxt {
  grid-area: searchtxt;
  width: 700px;
  height: 30px;
  border-radius: 20px;
}

.searchtxt {
  background-color: rgba(54, 54, 54, 0.432);
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
::placeholder {
  color: black;
}
input:focus {
  outline: none;
}

.profile {
  display: grid;
  grid-template-columns: 1fr 0.3fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "notikfication avatar name";
  grid-area: profile;
}

.name {
  justify-self: start;
  align-items: center;
  padding-left: 10px;
}
#profilename {
  justify-self: start;
  align-self: center;
}
.avatar {
  grid-area: avatar;
  justify-self: end;
  align-self: center;
}

.avatar1 {
  border-radius: 75%;
}

.notification {
  grid-area: notikfication;
  justify-self: end;
  align-self: center;
  padding-left: 50px;
  cursor: pointer;
}

.greating {
  display: grid; 
  grid-template-columns: 0.5fr 1.5fr;  
  grid-template-areas: 
    "avatar name";  
  grid-area: greating;  
  justify-self: start;
  margin-left: 10px;
}

.avatar2 {
  justify-self: end;
  align-self: center;
  grid-area: avatar;
  margin-right: 10px;
}

.greater {
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr; 
    grid-template-areas: 
    "greater"
    "name"; 
  grid-area: name; 
  margin-top: 5px;
  margin-bottom: 5px;
}

#hi {
  margin-bottom: 0;
  align-self: end;
  justify-self: start;
}

#greatname {
  margin-top: 0;
  align-self: start;
  justify-self: start;
}

.media {
  grid-area: media;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 140px;
  margin-right: 140px;
}

.mediabut {
  width: 80px;
  height: 50px;
  justify-self: center;
  align-self: center;
  border-radius: 75px;
  background-color: rgb(202, 84, 218);
  border-color: rgba(0, 0, 255, 0);
  cursor: pointer;
}

.side-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 0.8fr 1.3fr;
  gap: 0px 0px;
  grid-template-areas:
    "logo logo logo"
    "menu menu menu"
    "oder oder oder";
  grid-area: 1 / 1 / 7 / 2;
  background-color: rgb(167, 0, 201);
}

.logo {
  grid-area: logo;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: start;
  align-self: center;
  margin-left: 20px;
}

.logoimg {
  justify-self: center;
  align-self: center;
}

.dashtxt {
  justify-self: center;
  align-self: center;
}
.menu {
  grid-area: menu;
  display: grid;
  grid-template-rows: repeat(6, 1fr); 
  grid-template-areas: 
    "list"
    "list"
    "list"
    "list"
    "list"
    "list"
  ;
  cursor: pointer;
  gap: 5px;
  margin-left: 50px;
  margin-bottom: 30px;

  }
  
  .menulist {
    grid-area: list ;
    display: grid;
    padding: 0;
    margin: 0;
}

.menulist li {
  list-style: none;
  justify-self: start;
  align-self: center;

}

.oder {
  grid-area: oder;  
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 2fr 2fr;
  grid-template-areas:
    "list2"
    "list2"
    "list2";
  cursor: pointer;
  gap: 5px;
margin-left: 50px;
}

.orderli {
  grid-area: list2;
  display: grid;
  padding: 0;
  margin: 0;
}

.orderli li {  
  list-style: none;
  justify-self: start;
  align-self: center;
}


.project {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 0.3fr 1fr 1fr 1fr; 
  grid-template-areas: 
    "caption1 caption2"
    "item item2"
    "item3 item4"
    "item5 item6"; 
  grid-area: 2 / 2 / 7 / 5; 
  background-color: rgb(219, 206, 221);
  padding: 5px;
}

.caption1 {
  grid-area: caption1;
  justify-self: start;
  align-self: center;
}
#txtcaption {
  margin: 10px;
  padding-left: 70px;
  justify-self: center;

}
.caption2 {
  grid-area: caption2;
}
.item {
  grid-area: item;
  margin-left: 20px;
}
.itemadd {
  background-color: gray;
  justify-self: center;
  align-self: center;
  width: 500px;
  height: 200px;
  border-radius: 12px;
  text-align: left;
}

.item2 {
  grid-area: item2;
  margin-right: 20px;
  margin-left: 0;
  border: 1px;
}
.item3 {
  grid-area: item3;
  margin-left: 20px;
}
.item4 {
  grid-area: item4;
  margin-right: 20px;
  margin-left: 0;
}
.item5 {
  grid-area: item5;
  margin-left: 20px;
}
.item6 {
  grid-area: item6;
  margin-right: 20px;
  margin-left: 0;
}
.right {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 1fr 0.4fr 1fr;
  grid-template-areas:
    "caption1"
    "announcment"
    "caption2"
    "trending";
  grid-area: 2 / 5 / 7 / 6;
  background-color: rgb(219, 206, 221);}
.caption3 {
  grid-area: caption1;
}

.announcment {
  grid-area: announcment;
  height: 300px;
  width: 300px;
  background-color: blue;
  justify-self: center;
  align-self: center;
  border-radius: 12px;
}

.caption4 {
  grid-area: caption2;
}

.trending {
  grid-area: trending;
  height: 300px;
  width: 300px;
  background-color: blue;
  justify-self: center;
  align-self: center;
  margin-bottom: 20px;
  border-radius: 12px;
}

.txtcaption1 {
  padding-left: 10px;
  margin-left: 20px;
  padding-left: 50px;
  justify-self: center;

}
